<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIDEC IOT</title>
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-reboot.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/style.css" />
    <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
    <script class="include" type="text/javascript" src="/static/echarts.min.js"></script>
    <script class="include" type="text/javascript" src="/static/draw-graph.js"></script>

    <style>

    </style>

</head>
<body>
<div class="container-fixed">
{% for i in range(context.rows) %}
    <div class="row row-xs-{{context.row_h}}">
    {% for j in range(context.cols) %}
        {% set k = i * context.cols + j %}
        {% set c = 'white' %}
        {% if (i % 2  + j % 2) == 1 %}
            {% set c = '#efefef' %}
        {% endif %}
        <div class="col col-xs-{{context.col_w}}" style="position:relative;background-color:{{c}};overflow: hidden;border: gray 1px solid;" >

            <div style="width:100%;position: absolute;font-size:120%;font-weight:bold;text-align:center;margin-bottom:5px;absolute;bottom: 0;">
                {% if k < context.loc_data|length%}
                {{context.loc_data[k].name}}
                {% endif %}
            </div>

            <div id='chart{{k}}' style="width:100%;height:70%;position: absolute;"></div>
            <div id='graph{{k}}' style="width:100%;height:60%; position: absolute;bottom: 0;left: 0;"></div>


        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>

<script type="text/javascript" class="code">

var locations = {{context.loc_ids}};

function reloadGaugeGraph(){
    locations.forEach(function(item,index){
        var gaugeId = "chart" + index;
        drawCurrentGauges(gaugeId, item);
    });

}

function reloadTrendGraph(){
    locations.forEach(function(item,index){
        var trendId = "graph" + index;
        drawMiniTrendGraph(trendId, item, 1440);
    });
}

$(document).ready(function(){
    reloadGaugeGraph();
    reloadTrendGraph();
    window.addEventListener("resize", function(){
        reloadGaugeGraph();
        reloadTrendGraph();
    });
    setInterval(reloadGaugeGraph, 10000);
    setInterval(reloadTrendGraph, 10000);//60000 * 5
});


</script>

</body>
</html>