<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIDEC GRAPH</title>
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-reboot.css" />
    <link class="include" rel="stylesheet" type="text/css" href="/static/style.css" />
    <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
    <script class="include" type="text/javascript" src="/static/echarts.min.js"></script>
    <script class="include" type="text/javascript" src="/static/draw-graph.js"></script>
    <link href="/static/assets/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/simple-line-icons.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>


<div class="container-fixed">
    <div class="row row-xs-1" >
        <div class="col col-xs-6" style="overflow: hidden;text-align:left;padding: 5px 20px;">
                <i class="ace-icon fa fa-home home-icon"></i>&nbsp;<a href="/">Home</a> / Graph

        </div>
        <div class="col col-xs-6" style="font-size:100%;font-weight:bold;text-align:right;padding-top:5px;padding-right:30px;display: table-cell;vertical-align: middle;">
            <select id="range" onchange="drawGraph();">
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">1 hour</option>
                <option value="1440" selected>1 day</option>
                <option value="10080">1 week</option>
                <option value="43200">1 month</option>
            </select>
            <select id="location" onchange="drawGraph();">
                {% for loc in context.loc %}
                    {% if context.loc_id == loc[0]%}
                    {% set selected='selected'%}
                    {% endif %}
                    <option value="{{ loc[0] }}" {{ selected }}>{{ loc[1] }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <div class="row row-xs-11">
        <div class="col col-xs-12">
            <div id='chart' style="width:100%;height:100%;"></div>
        </div>

    </div>

</div>

<script type="text/javascript" class="code">
function drawGraph(){
    // Parameter
    var loc = $( "#location" ).val();
    var range = $( "#range" ).val();
    drawTrendGraph("chart",loc, range);
}


$(document).ready(function(){
    drawGraph();
    window.addEventListener("resize", function(){drawGraph();});
    setInterval(drawGraph, 60000 * 5);
});
</script>



</body>
</html>