{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<h2>Monitor</h2>
    <select id="monitor">
    {% for group in context.group %}
        <option value="{{ group[0] }}">{{ group[1] }}</option>
    {% endfor %}
    </select>

    <button class="btn btn-sm btn-success" onclick="return goMonitorGraph();">Go</button>

    <br><br>

<h2>Line graph</h2>
    <select id="location">
    {% for loc in context.loc %}
        <option value="{{ loc[0] }}">{{ loc[1] }}</option>
    {% endfor %}
    </select>

    <button class="btn btn-sm btn-success" onclick="return goLineGraph();">Go</button>

    <br><br>

<h2>Other</h2>
    <button class="btn btn-sm btn-success" onclick="location.href='master';return false;">Master</button>


</div>
<script>
    function goLineGraph(){
        var loc = $( "#location" ).val();
        location.href = "graph?loc=" + loc;
        return false;
    }
    function goMonitorGraph(){
        var loc = $( "#monitor" ).val();
        location.href = "current?monitor=" + loc;
        return false;
    }
</script>
{% endblock %}