<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.5
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

    <title>Login</title>

    <!-- Icons -->
    <link href="/static/assets/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/simple-line-icons.css" rel="stylesheet">
    <!--<link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">-->
    <!-- Main styles for this application -->
    <link href="/static/css/style.css" rel="stylesheet">


    <script src="/static/assets/js/tether.min.js"></script>
    <script src="/static/assets/js/jquery-3.2.1.min.js"></script>

    <script src="/static/assets/js/popper.min.js"></script>

    <script src="/static/assets/js/ace-elements.min.js"></script>
    <script src="/static/assets/js/ace.min.js"></script>
    <script src="/static/assets/js/bootbox.js"></script>

    <script src="/static/assets/js/jquery.validate.min.js"></script>

    <!-- Styles required by this views -->

</head>

<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <form action="/login" method="post">
                        <div class="card-body">
                            <h1>Login</h1>
                            <label class="red" style="color:red;" {% if error_message == "" %} hidden {% endif %}>
								<i class="ace-icon fa fa-exclamation-triangle"></i> {{ error_message }}
                            </label>
                            <p class="text-muted">Sign In to your account</p>

                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input class="form-control" name="user_id" placeholder="User ID">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">Login</button>
                                </div>
                                <!--<div class="col-6 text-right">-->
                                    <!--<button type="submit" class="btn btn-link px-0">Forgot password?</button>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>