{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{ tab1 }}" data-toggle="tab" href="#factoryTab" role="tab" aria-controls="home" >
                    <b>Factory</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ tab2 }}" data-toggle="tab" href="#locationTab" role="tab" aria-controls="profile" >
                    <b> Location </b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{ tab3 }}" data-toggle="tab" href="#monitorGroupTab" role="tab" aria-controls="profile" >
                    <b> Monitor Group </b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{ tab4 }}" data-toggle="tab" href="#monitorGroupMemberTab" role="tab" aria-controls="profile" >
                    <b> Monitor Group Member </b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{ tab5 }}" data-toggle="tab" href="#sensorTypeTab" role="tab" aria-controls="profile" >
                    <b> Sensor Type </b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{ tab6 }}" data-toggle="tab" href="#monitorNotifyTab" role="tab" aria-controls="profile" >
                    <b> Notify </b></a>
            </li>

        </ul>
        <div class="tab-content">

            <div class="tab-pane {{ tab1 }}" id="factoryTab" role="tabpanel">
                {% autoescape off %}
                {{ factory_form.render_form_begin }}
                {{ factory_form.render_content }}
                {{ factory_form.render_form_end }}
                {{ factory_form.render_scripts }}
                {% endautoescape %}
            </div>

            <div class="tab-pane {{ tab2 }}" id="locationTab" role="tabpanel">
                {% autoescape off %}
                {{ location_form.render_form_begin }}
                {{ location_form.render_content }}
                {{ location_form.render_form_end }}
                {{ location_form.render_scripts }}
                {% endautoescape %}
            </div>

            <div class="tab-pane {{ tab3 }}" id="monitorGroupTab" role="tabpanel">
                {% autoescape off %}
                {{ monitorGroup_form.render_form_begin }}
                {{ monitorGroup_form.render_content }}
                {{ monitorGroup_form.render_form_end }}
                {{ monitorGroup_form.render_scripts }}
                {% endautoescape %}
            </div>

            <div class="tab-pane {{ tab4 }}" id="monitorGroupMemberTab" role="tabpanel">
                {% autoescape off %}
                {{ monitorMember_form.render_form_begin }}
                {{ monitorMember_form.render_content }}
                {{ monitorMember_form.render_form_end }}
                {{ monitorMember_form.render_scripts }}
                {% endautoescape %}
            </div>

            <div class="tab-pane {{ tab5 }}" id="sensorTypeTab" role="tabpanel">
                {% autoescape off %}
                {{ sensor_type_form.render_form_begin }}
                {{ sensor_type_form.render_content }}
                {{ sensor_type_form.render_form_end }}
                {{ sensor_type_form.render_scripts }}
                {% endautoescape %}
            </div>

            <div class="tab-pane {{ tab6 }}" id="monitorNotifyTab" role="tabpanel">
                {% autoescape off %}
                {{ notify_form.render_form_begin }}
                {{ notify_form.render_content }}
                {{ notify_form.render_form_end }}
                {{ notify_form.render_scripts }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

<script>
    function gacoiform_search(formname) {
        document.forms[formname][formname + "_action"].value = 6;
    }
</script>

{% endblock %}